.position-fixed.top-0.start-0.p-3(style="z-index: 2000")
    #saveoktoast.toast(role="alert" aria-live="assertive" aria-atomic="true")
        .toast-header 
        .toast-body.text-primary.fw-bold= 'Gespeichert!'
.position-fixed.top-0.start-0.p-3(style="z-index: 2000")
    #savenotoast.toast(role="alert" aria-live="assertive" aria-atomic="true")
        .toast-header 
        .toast-body.text-danger.fw-bold= 'Fehler beim Speichern.'
