extends layout

block content
    .container.center-align
        each user in session.userlist
            .row
                a.waves-effect.waves-light.btn-large.blue.col.s4.offset-s4(
                    href='/doc/?users=' + user._id + '&delpartner=1&deltags=1&deldate=1'
                )= user.name
                    i.material-icons.large.left account_circle
        .row
            a.waves-effect.waves-light.btn-large.blue.col.s4.offset-s4(
                href="/doc/?delusers=1&delpartner=1&deltags=1&deldate=1"
            ) Alle Dokumente
                i.material-icons.left view_list
        .row
            a.waves-effect.waves-light.btn-large.blue.col.s4.offset-s4(
                href="/doc/?orphan=users"
            ) Waisen
                i.material-icons.left warning
