@import "fontsize.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
}

main {
  flex: 1 0 auto;
}

.anchor:target {
  padding-top: 80px;
}

.popup {
  height: 30px;
  position: absolute;
  width: 30px;
}

.footer {
  background-color: red;
  bottom: 0;
  color: white;
  left: 0;
  padding-bottom: 5px !important;
  padding-right: 10px !important;
  padding-top: 5px !important;
  position: fixed;
  text-align: center;
  width: 100%;
}

img.preview {
  border: 2px dotted;
  display: block;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

textarea.doctext {
  height: 20rem;
}

div.customcontainer {
  max-width: initial;
  width: 95%;
}

.ppgrid {
  font-size: 18px;
}

[type="date"] {
  background: #fff url(/images/date16px.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
